:host .toolbar {
    box-sizing: border-box;
    position: absolute;
    height: 50px;
    width: 100%;
    top: 0px;   
    left: 0px;
    bottom: 0px;
    padding: 1px 0px 0px 2px;
    background-color: #5A6BC5;
}

.nav-icon {
    padding: 10px 0px 0px 0px;
    color: white!important;
}