<div class="search-div">
    <div class="left-search-menu">
        <button md-icon-button><md-icon>search</md-icon></button>
    </div>
    <div class="left-search-input">
        <md-input-container>
            <input [class.emp-selected]="selectedEmployee" mdInput class="input-search" placeholder="Search" (keyup)="onSearch($event)">
        </md-input-container>
    </div>
    
    <div class="right-search">
        <button md-icon-button class="btn" *ngIf="selectedEmployee" (click)="delete()"><md-icon>delete</md-icon></button>
        <button md-icon-button class="btn" (click)="sort()"><md-icon >sort_by_alpha</md-icon></button>
        <button md-icon-button class="btn"(click)="filter()" ><md-icon>filter_list</md-icon></button>
        <div class="search-chip">
            <md-chip-list>
                <md-chip color="primary" >{{ length }}</md-chip>
            </md-chip-list>
    </div>
    </div>
</div>