<md-toolbar color="primary">
  <button (click)="sidenav.toggle()" md-icon-button><md-icon class="material-icons md-36 example-icon">dehaze</md-icon></button>
  <button md-icon-button><md-icon  class="material-icons md-48 example-icon">person_pin</md-icon></button>
  <span>
    <div class="user-title">
      <a>Agus Mistiawan</a> <br>
      <a>SE - JP</a>
    </div>
  </span>
   <span class="example-spacer"></span>
  <button  md-icon-button><md-icon class="material-icons">settings</md-icon></button>
  <button  md-icon-button><md-icon class="material-icons">power_settings_new</md-icon></button>
</md-toolbar>
<app-list-employee class="employee-list"></app-list-employee>
<app-detail-employee class="employee-detail"></app-detail-employee>