<div class="toolbar">
  <button md-icon-button class="menu-button"><md-icon>menu</md-icon></button>
  <img class="user-img" src="src/images/no-image.png" width="40" height="40">
  <span>
    <div class="user-title">
      <a>Agus Mistiawan</a> <br>
      <a>SE - JP</a>
    </div>
  </span>
  <div class="toolbar-right">
    <button md-icon-button class="menu-button"><md-icon>settings</md-icon></button>
    <button md-icon-button class="menu-button"><md-icon>power_settings_new</md-icon></button>
  </div>
</div>

<div>
  <div class="left-container">
    <list-employee (employeeClicked)="onEmployeeInListClicked($event)" [selectedEmployee]="selectedEmployee" [initialEmpSave]="initialEmployee"></list-employee>
  </div>

  <div class="right-container">
    <app-detail-employee></app-detail-employee>
    <app-form-data (cancelClicked)="cancelFormClicked($event)" (saveClicked)="saveFormClicked($event)" [selectedEmpSelect]="selectedEmployee?selectedEmployee.Id:''"></app-form-data>
  </div>
</div>