<div class="emp-card" (click)="onSelected(employee)" [class.emp-card-selected]="employee == selectedEmployee" >
    <img class="img-card" [src]="employee.imageUrl">
    <div class="card-left">
        <a class="emp-name">{{employee.firstName}} {{employee.lastName}}</a><br>
        <a class="emp-info">{{employee.subDivision}} {{employee.division}}<br>
                            {{employee.location.city}}, {{employee.phone}}</a>
    </div>
    <div class="card-right">
        <a class="emp-info">{{employee.hiredDate | date:'dd-MM-y'}}</a><br> 
        <div class="card-right-icon">
            <md-icon>radio_button_checked</md-icon>
            <md-icon>chevron_right</md-icon>
        </div>
    </div>
</div>