<div *ngIf="isShow" class="form-body">
    <form  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class=left-form>
         <input type="hidden" name="empId" id="empId" formControlName="empId">
        <mdl-textfield type="text" label="First Name" floating-label formControlName="firstName"></mdl-textfield>
        <mdl-textfield type="text" label="Last Name" floating-label formControlName="lastName"></mdl-textfield>
        <md-select name="gender" id="gender" placeholder="Gender" formControlName="gender">
            <md-option *ngFor="let g of lookupLists.genders" [value]="g.value">{{ g.viewValue }}</md-option>
        </md-select>
        <md2-datepicker class="date-picker" openOnFocus="true" type="date" placeholder="Date Of Birth" style="width: 300px"
           formControlName="dob"></md2-datepicker>
        <md-select type="text" label="Nationality" placeholder="Nationality" floating-label formControlName="nationality">
            <md-option *ngFor="let n of lookupLists.nationality" [value]="n.value">{{ n.viewValue }}</md-option>
        </md-select>
        <md-select type="text" label="Marital Status" placeholder="Martial Status"floating-label formControlName="maritalStatus">
             <md-option *ngFor="let m of lookupLists.maritalsStatus" [value]="m.value">{{ m.viewValue }}</md-option>
        </md-select>
        <mdl-textfield type="text" label="Phone" floating-label formControlName="phone"></mdl-textfield>    
    </div>
    <div class=right-form>
        <mdl-textfield type="text" label="Sub Division"  floating-label formControlName="subDivision"></mdl-textfield>
        <mdl-textfield type="text" label="Status" floating-label formControlName="status"></mdl-textfield>
        <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Suspend Date" style="width: 300px"
            formControlName="suspendDate"></md2-datepicker>
        <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Hired Date" style="width: 300px" formControlName="hiredDate"></md2-datepicker>
        <md-select name="grade" id="grade" placeholder="Grade" formControlName="grade">
            <md-option *ngFor="let r of lookupLists.grades" [value]="r.value">{{ r.viewValue }}</md-option>
        </md-select>
        <md-select fname="division" id="division" placeholder="Division" formControlName="division">
            <md-option *ngFor="let d of lookupLists.divisions" [value]="d.value">{{ d.viewValue }}</md-option>
        </md-select>
        <mdl-textfield type="email" required label="Email" floating-label formControlName="email"></mdl-textfield>    
    </div>
    <div class="form-img">
        <md-icon (click)="fileInput.click()">camera</md-icon>
        <img class="img" [src]="imageUrl" (click)="fileInput.click()">
        
    </div>
    <input #fileInput type="file" hidden="hidden" (change)="onUpload($event)" accept="image/*"/>
    <div class="form-btn">
        <div class="btn">
            <button md-raised-button type="button" (click)="cancel()" >CANCEL</button>
            <button md-raised-button color="accent" type="submit" [disabled]="!form.valid">SAVE</button>
        </div>
    </div>
    </form>
</div>
