<div class="form-body">
    <div class=left-form>
        <mdl-textfield type="text" label="First Name" floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Last Name" floating-label></mdl-textfield>
        <md-select ></md-select>
        <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Date Of Birth" style="width: 300px"
           ></md2-datepicker>
        <mdl-textfield type="text" label="Nationality" floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Marital Status" floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Phone"  floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Email" floating-label></mdl-textfield>
    </div>
    <div class=right-form>
        <mdl-textfield type="text" label="Sub Division" floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Status" floating-label></mdl-textfield>
        <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Suspend Date" style="width: 300px"
            ></md2-datepicker>
        <md2-datepicker class="date-picker" openOnFocus="true" format="dd/MM/y" type="date" placeholder="Hired Date" style="width: 300px"></md2-datepicker>
        <md-select></md-select>
        <md-select></md-select>
        <mdl-textfield type="text" label="Location"  floating-label></mdl-textfield>
    </div>
    <div class="form-img">
        <img class="img" >
        <button class="upload-icon" md-icon-button><md-icon>camera</md-icon></button>
    </div>
    <input #fileInput type="file" hidden="hidden"/>
    <div class="form-btn">
        <div class="btn">
            <button md-raised-button >CANCEL</button>
            <button md-raised-button color="accent">SAVE</button>
        </div>
    </div>
</div>
