<section>
  <section>
  <md-tab-group dynamicHeight="true">
    
    <md-tab>
      <ng-template md-tab-label>
      <i class="material-icons white">people</i>
      </ng-template>
      <div class="content">
        <app-form-data></app-form-data>
      </div>
    </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons white">timer</i>
      </ng-template>
      <h1>Time</h1> 
    </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons white">people_outline</i>
      </ng-template>
      <h1>Connections</h1> 
    </md-tab>

    <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons white">library_books</i>
      </ng-template>
      <h1>Documents</h1> 
    </md-tab>
  
  <md-tab>
      <ng-template md-tab-label>
        <i class="material-icons white">location_on</i>
      </ng-template>
      <h1>Location</h1> 
    </md-tab>
  </md-tab-group>
  </section>

</section>