<div class="toolbar">
    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="nav-icon">person</md-icon>
            </ng-template>
        </md-tab>
        <md-tab >
            <ng-template md-tab-label>
                <md-icon class="nav-icon">restore</md-icon>
            </ng-template>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="nav-icon">layers</md-icon>
            </ng-template>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="nav-icon">people</md-icon>
            </ng-template>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="nav-icon">home</md-icon>
            </ng-template>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                <md-icon class="nav-icon">location_on</md-icon>
            </ng-template>
        </md-tab>
    </md-tab-group>
</div>