<section>
<form>
  <section class="input">

  <section class="leftInput">
  <ul>
    <li>
       <md-input-container>
         <input  mdInput placeholder="First Name">
      </md-input-container>
      
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Last Name">
      </md-input-container>
       
    
    </li>

    <li>
     <md-select placeholder="Gender" name="gender">
     <md-option>
      Male
      </md-option>
      </md-select>
   </li>

    <li>
       <md-input-container>
         <input  type="date" mdInput placeholder="Date of Birth">
      </md-input-container>
    </li>

     <li>
       <md-input-container>
         <input   mdInput placeholder="Nationality">
      </md-input-container>
      
    </li>

     <li>
       <md-input-container>
         <input  mdInput placeholder="Martial Status">
      </md-input-container>
      
    </li>


    <li>
       <md-input-container> 
         <input  mdInput placeholder="Phone" >
      </md-input-container>
      
    </li>
  </ul>
  </section>

<section class="rightInput">
  <ul>
    <li>
       <md-input-container>
         <input  mdInput placeholder="Sub Division">
      </md-input-container>
     
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Suspend Date" >
      </md-input-container>
      
    </li>
    
    <li>
       <md-input-container>
         <input  type="date" mdInput placeholder="Hire Date" value="">
      </md-input-container>
    </li>

    <li>
     <md-select placeholder="Grade" name="grade">
     <md-option >
      SE=JP
      </md-option>
      </md-select>
   </li>

    <li>
     <md-select placeholder="Division" name="division">
     <md-option>
      SE
      </md-option>
      </md-select>
    </li>

    <li>
       <md-input-container>
         <input  mdInput placeholder="Email">
      </md-input-container>
    </li>
  </ul>
  </section>
  </section>

  <section class="toolbarFooter">
  <button md-button class="btn-cancel">Cancel</button>
  <button md-button class="btn-save"type="submit">Save</button>
  </section>
  </form>
</section>

